@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Mulish', sans-serif;
}

.heading {
  font-family: 'Inter', sans-serif;
}

.MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row:nth-child(2n) {
  background: #f2f2f2 !important;
}

.css-f3jnds-MuiDataGrid-columnHeaders {
  background: #c9deff;
}

.css-1e2bxag-MuiDataGrid-root
  .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)
  > .MuiDataGrid-cell {
  border-right: 1px solid black;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader {
  border-right: 1px solid black;
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell {
  border-right: 1px solid black;
}

/* //MUI v5 (notice the class name difference)
"& .MuiDataGrid-virtualScrollerRenderZone": {
  "& .MuiDataGrid-row": {
    "&:nth-child(2n)": { backgroundColor: "rgba(235, 235, 235, .7)" }
  }
} */
